.weather-item {
  width: 100%;
  display: flex;
  padding: 24px 0;
  align-items: center;
}

.weather-item span {
  flex: 1;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  font-size: 0.87rem;
  color: var(--gray-200);
}

.weather-item strong {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--gray-100);
}

.weather-item img {
  width: 2rem;
  height: 2rem;
}
