.logo {
  width: 56px;
  height: 56px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-600);
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
}
