.next-days {
  border-radius: 12px;
  grid-area: next-days;
  padding: 28px 24px 24px;
  background-color: var(--gray-800);
}

.next-days h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--gray-400);
}

.next-next-detail {
  display: flex;
  margin-top: 48px;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .next-days {
    overflow-x: auto;
  }
}
